@model IEnumerable<string>
<ul class="nav flex-lg-column flex-row">
    <li class="nav-item">
        <s1 class="nav-link text-secondary">@ViewBag.Header</s1>
    </li>
    <li class="nav-item">
        @Html.ActionLink("All", "Index", null, null,
        new { @class = "nav-link text-secondary mx-auto" + (@ViewBag.SelectedManufacturer == (string)null ? " active" : "") })
    </li>
    @foreach (string man in Model)
    {
        <li class="nav-item">
            @Html.RouteLink(man,
            new { action = "Index", manufacturer = man, page = "1" },
            new
            {
                @class = "nav-link text-secondary" + (@man == @ViewBag.SelectedManufacturer ? " active" : "")
            }
            )
        </li>
    }
</ul>
